$bg-co: #fafafa;
$font-size: 18px 16px 14px 24px;
$bg-border: #f0f0f0;
$img-title-icon: 1px;
$height: 100px;
$margin-left: 22px;

//个人简介部分
.header-intro{
  margin: 46px auto 0 auto;
  border: dashed 2px #f8f8f8;
  width: 980px;
  overflow: hidden;

  //简介左边部分
  .header-left{
    float: left;
    width: 702px;
    margin: 10px 8px;
    padding: 34px;
    background: #f8f8f8;
    .touxiang{
      float: left;
      background: url("/static/img/page/personal-page/touxiang-back.png") no-repeat;
      width: 98px;
      height: 98px;
    }
    .list{
      float: left;
      h1{
        margin-bottom: 28px;
      }
    }
    p {
      margin-left: 40px;
      width: 284px;
      float: right;
      line-height: 18px;
      border-left: 2px #e6e6e6 dashed;
      padding-left: 30px;
    }
  }

  //简介右边部分
  .header-right{
    float: right;
    background: #f8f8f8;
    width: 60px;
    margin: 10px 8px 10px 0;
    padding: 70px 60px;
  }
}

//页面正文部分
.container {
  width: 1160px;
  margin: 28px auto 0 auto;
  overflow: hidden;
  .c-left {
    float: left;
    width: 770px;
    background-color: $bg-co;
    border: 1px solid $bg-border;
    margin-bottom: 118px;
    margin-right: 38px;
    padding: 24px 26px 90px 42px;
    li {
      margin-top: 18px;
      font-size: nth($font-size, 1);
      line-height: 24px;
      p{
        color: #9d9d9d;
      }
      img {
        position: relative;
        top: -6px;
        left: 8px;
        &.title-icon{
          width: 20px;
          height: 20px;
          position: relative;
          left: -10px;
          top: 5px;
        }
      }
      .border-line{
        position: relative;
      }
      &.education {
        span {
          font-size: nth($font-size, 2);
        }
        li{
          color: #9d9d9d;
        }
      }
      ul{
        margin-top: 18px;
        padding-left: $margin-left;
        overflow: hidden;
        &.timeline{
          margin-top: 2px;
          position: relative;
          &:before{
            content: '';
            position: absolute;
            top: 16px;
            bottom: 14px;
            left: 2.6px;
            width: 2px;
            background: #00caab;}
          .dot{
            width: 7px;
            height: 7px;
            position: relative;
            top: 16px;
            background: url("/static/img/page/personal-page/dot.png");
          }
          .timelabel{
            margin-top: 0;
            position: relative;
            z-index: 9999;
            li{
              p{
                margin: 0 0 0 150px;
                width: 492px;
                text-indent: 0;
                font-size: 14px;
                font-weight: normal;
              }
              em{
                display: inline-block;
                width: 124px;
              }
              span{
                margin-left: 26px;
              }
            }
          }
        }

        li{
          //font-weight: normal;
          margin-top: 0;
          float: left;
          //margin-right: 60px;
          font-size: nth($font-size, 3);
        }
      }
      p {
        font-size: nth($font-size, 3);
        line-height: 18px;
        text-indent: 2em;
        margin: 18px 0 0 $margin-left;
      }
    }
  }
  .c-right-top {
    font-size: nth($font-size, 3);
    float: right;
    width: 246px;
    padding: 16px;
    background-color: $bg-co;
    border: 1px solid $bg-border;
    margin-bottom: 14px;
    span {
      color: #24cdb1;
      font-size: nth($font-size, 1);
    }
    img{
      display: block;
      margin-top: 14px;
    }
  }
  .c-right-bottom{
    padding: 28px 60px 20px 74px;
    background-color: $bg-co;
    border: 1px solid $bg-border;
    margin-bottom: 14px;
    width: 144px;
    font-size: nth($font-size, 3);
    float: right;
    li{
      margin-bottom: 30px;
      img{
        margin-right: nth($font-size, 3);
        width: 16px;
        height: 16px;
        position: relative;
        top: 3px;
      }}

  }
}