@charset "UTF-8";
@import '../../common/global-set';
@import 'layout';

$item-h: 166px;
$tab-h: 36px;
$tab-bg: #f8f8f8;

@mixin multi-border-radius {
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
}

// publish main
.publish {
  overflow: hidden;
  zoom: 1;
  margin-bottom: 340px;
}


// 详细列表
.publish-content-list {

  .publish-list-item {
     height: $item-h;
     width: 100%;
     margin: 16px 0px;
     box-sizing: border-box;
     position: relative;

     // 各个订单的 title
     .item-title {
       width: 100%;
       height: $tab-h;
       line-height: $tab-h;
       padding: 0px 8px 0px 16px;
       background-color: $tab-bg;
       box-sizing: border-box;
       span {
         float: left;
         display: inline;
         margin-right: 12px;
       }
       span:last-child {
         float: right;
         margin: 0;
         a {
           color: $global-font;
         }
       }
     }
   }

  // 各个订单 => ul
  .item-content {
    width: 100%;
    float: left;
    border: 1px solid #f0f0f0;
    border-top: none;
    box-sizing: border-box;
    // 订单各个信息 => li
    .item {
      height: 130px;
      float: left;
      display: inline;
      padding: 16px;
      border-right: 1px solid #f0f0f0;
      box-sizing: border-box;
    }
    // 商品描述信息
    .item-describe {
      width: 52%;
      & > div {
        float: left;
        display: inline;
      }
      .item-describe-info {
        margin-left: 16px;
        .item-basic-info {
          width: 192px;
          text-overflow:ellipsis;
          white-space:nowrap;
          overflow:hidden;
        }
        .item-label-info {
          margin: 4px 0px;
        }
        .item-money-info {
          color: #fca825;
          font-size: 24px;
          margin-top: 48px;
          &:before {
            content: '￥';
            font-size: 16px;
          }
        }
        .item-money-info.del {
          font-size: 24px;
          margin-top: 48px;
          vertical-align: baseline;
          &:before {
            content: '￥';
            font-size: 16px;
          }
        }
        .item-other-info {
          ul {
            width: 254px;
            line-height: 47px;
            vertical-align: baseline;
            float: left;
            font-size: 12px;
            li {
              float: left;
              display: inline;
            }
            span {
              color: $global-bg;
            }
            .split-bar {
              padding: 0px 16px;
              color: #ddd;
            }
          }
        }
      }
    }
    // 交流时间 参加人数
    .item-talking {
      width: 36%;
      .item-talking-info {
        text-align: center;
        .talking-time {
          /*height: 50%;*/
          line-height: 47px;
          border-bottom: 1px solid #f0f0f0;
          margin-bottom: 10px;
        }
        .talking-time.del {
          border: none;
          height: 100%;
          line-height: 700%;
        }
        .talking-person-num {
          margin-top: 10px;
          span {
            color: $global-bg;
            cursor: pointer;
          }
        }
        .talking-details{
          margin-top: 4px;
            color: $global-bg;
            cursor: pointer;
        }
      }
    }
    // 进行订单操作
    .item-operation {
      width: 12%;
      border-right: none;
      text-align: center;
      position: relative;
      display: table;
      .table-cell{
          display: table-cell;
          vertical-align: middle;
      }
      a {
        font-size: 14px;
        padding: 0px;
      }
      .item-time {
        text-align: right;
        position: relative;
        top: -12px;
        right: -14px;
        margin-bottom: 18px;
      }
      .operation {
        /*margin: auto;*/
        width: 100%;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
      }
      .link {
        a {
          color: $global-bg;
          // margin: 16px auto;
        }
        &:first-child {
          a {
            color: $global-font;
            &:hover {
              color: $global-bg;
            }
          }
        }
      }
    }
  }
}

.tag {
  margin: 4px 4px 14px;
  display: inline-block;
  .item-tag {
    border: 1px solid #969696;
    margin-right: 12px;
    color: #969696;
    border-right: none;
    padding: 0px 4px;
    position: relative;
    display: inline-block;
    &:after {
      content:' ';
      display: inline-block;
      height: 20px;
      width: 9px;
      position: absolute;
      left: 100%;
      top: -1px;
      background: url('/static/img/page/personal-center/tag.png') no-repeat;
    }
    .tag-rect {
      padding: 1px 0px;
      display: inline-block;
    }
  }
}
.icon {
  display: inline-block;
  width: 13px;
  height: 12px;
  padding: 0px 2px;
}
.icon-publish {
  background: url('/static/img/page/personal-center/icon-publish.png') no-repeat;
}

// 查看参与talking人信息的弹窗
#joinPeople {
  table {
    width: 100%;
  }
  td, th {
    width: 25%;
    height: 32px;
    color: $global-font;
    text-align: center;
  }
  tbody > tr:nth-child(odd) {
    background-color: #f8f8f8;
  }
  td:hover {
    color: $global-bg;
  }
  td:last-child {
    overflow: hidden;
  }
}