.global-center {
  margin-left: auto;
  margin-right: auto;
  width: 1180px; }

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

body {
  min-width: 1180px; }

.ht-common-bar {
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden; }

.ht-bar {
  height: 76px;
  line-height: 74px;
  font-size: 0; }

.logo-to-index {
  float: left; }
  .logo-to-index img {
    width: 149px;
    height: 58px;
    vertical-align: middle; }

.ht-bar-title {
  float: left;
  margin-left: 20px;
  font-size: 20px;
  color: #00caab; }
  .ht-bar-title:before {
    margin-right: 20px;
    display: inline-block;
    content: " ";
    height: 40px;
    width: 1px;
    background-color: #00caab;
    vertical-align: middle; }
  .ht-bar-title a {
    display: inline-block;
    color: #00caab; }

.ht-common-switch {
  margin-left: 80px;
  float: left; }
  .ht-common-switch .switch-on {
    border-bottom: 2px solid #00caab; }
  .ht-common-switch li {
    float: left;
    width: 150px; }
  .ht-common-switch a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #5c5c5c;
    vertical-align: middle;
    text-align: center; }

.action-wrap {
  float: right; }
  .action-wrap a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-align: center; }
  .action-wrap .ask-question {
    margin-right: 18px;
    width: 94px;
    height: 32px;
    line-height: 32px;
    color: #FFFFFF;
    background-color: #00caab; }
  .action-wrap .my-ht {
    width: 100px;
    height: 28px;
    line-height: 28px;
    border: 2px solid #00caab;
    background-color: #FFFFFF;
    color: #00caab; }

.personal-panel {
  margin-top: 30px;
  padding: 24px 25px 20px 30px;
  background-color: #fafafa;
  overflow: hidden; }
  .personal-url {
    display: inline-block;
    float: left; }
  .personal-head {
    width: 102px;
    height: 102px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none; }
  .personal-info {
    margin-left: 30px;
    float: left; }
    .good-at, .about-at, .personal-name, .personal-school {
      height: 30px;
      line-height: 30px;
      font-size: 0; }
    .personal-name span, .personal-name button {
      display: inline-block;
      vertical-align: middle; }
    .personal-name span {
      font-size: 20px; }
    .personal-name button {
      margin-left: 18px;
      width: 58px;
      height: 22px;
      line-height: 22px;
      background-color: #00caab;
      font-size: 12.4px;
      color: #FFFFFF; }
    .personal-school span, .personal-school i {
      display: inline-block;
      font-size: 14px; }
    .personal-school i {
      margin-left: 12px;
      margin-right: 12px;
      width: 2px;
      height: 13px;
      background-color: #555555; }
    .good-at {
      margin-top: 5px; }
    .at-item, .at-name {
      display: inline-block;
      vertical-align: middle; }
    .at-name {
      font-size: 14px; }
    .at-item {
      font-size: 12px;
      color: #969696;
      margin-left: 9px; }
  .look-personal {
    float: right; }
    .look-personal li {
      font-size: 12px; }
    .look-personal a {
      height: 20px;
      line-height: 20px;
      display: inline-block;
      color: #5c5c5c; }
    .look-personal li + li {
      margin-top: 75px;
      line-height: 30px;
      font-size: 0;
      color: #969696;
      text-align: right; }
    .look-personal .read-num, .look-personal .up-num {
      display: inline-block;
      font-size: 12px;
      vertical-align: middle; }
    .look-personal .read-num:before {
      margin-right: 6px;
      content: " ";
      display: inline-block;
      width: 16px;
      height: 9px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVtJREFUeNpi/PXrFwMM/P//n+XFixchr1+/9v3w4YP1jx8/pEDiHBwczwQEBI6JiopukpCQWMPIyPgHpocRZgBQk/f169enfP/+XYGFheWDmppalZiY2EaQ3KtXr/xv3brV9ufPHwFOTs4HmpqaOUDDtsINuHPnTuPdu3frQAJMTEw/LCwszLi5uW8/efIkBegqZhkZmVnfvn1TOXHixKl///5xgNQpKys3qaio1LM8fPiwAKYZBCQlJZfx8vJevnjx4kqgd8JAYm/evPEwNjb2BMqtePr0aQJIDKSHlZX1PdO9e/cqGJAAyGaoJjeY2Lt37xygcjeR1YL0MikpKXUgC379+lUVRIuIiOyCiQkJCR2EyqkjqwXphYVBE9BJtTjCgAUaBspoYdAMDIM6QrGwHhoLgXhjASkdsILSASjagOnA8ufPn+B0wM7ODkoHx0HRCk0Hv2F6AAIMAAhM0eQ8K8AdAAAAAElFTkSuQmCC") no-repeat;
      vertical-align: baseline; }
    .look-personal .up-num {
      margin-left: 30px; }
      .look-personal .up-num:before {
        margin-right: 9px;
        content: " ";
        display: inline-block;
        width: 9px;
        height: 12px;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKNJREFUeNpi+vXrFwMMf//+nf/y5cubQTSyOBMDFPz//5/51q1bq96/f+9z+/btlSA+TA6u6NGjRz0fP350A7E/fPjgDuKjKHr16lXS8+fPCxiQAIgPFE8GsRnfvn1rfe3atX1A49kY0AAjI+MvLS0tF8YnT54k/fnzRxRqZQdMgZycXAWIZmFhec0Icj0MnDhx4j+MbWFhwYjhcHxgMCoCCDAAeLZgaPpCveUAAAAASUVORK5CYII=") no-repeat;
        vertical-align: baseline; }

.switch-bar {
  margin-top: 30px;
  margin-bottom: 4px;
  background-color: #fafafa;
  border-bottom: 1px solid #dddddd;
  height: 36px; }
  .switch-bar li {
    position: relative;
    float: left;
    cursor: pointer;
    width: 136px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid transparent; }
  .switch-bar .checked {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-bottom-color: #FFFFFF; }

.qa-item {
  padding: 20px 24px 18px 0; }
  .qa-item a {
    display: inline-block;
    float: left; }
  .qa-item img {
    border: none;
    width: 56px;
    height: 53px; }
  .qa-item div {
    margin-left: 16px;
    float: left; }
  .qa-item h2 {
    line-height: 16px;
    font-size: 16px; }
  .qa-item p {
    line-height: 1em;
    font-size: 12px;
    color: #969696;
    margin-top: 20px; }
    .qa-item p span + span {
      margin-left: 16px; }
  .qa-item ul {
    float: right;
    text-align: right;
    font-size: 12px; }
    .qa-item ul button {
      margin-bottom: 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      width: 84px;
      height: 22px;
      background-color: #f8f8f8;
      color: #b8b8b8; }
    .qa-item ul .about-num {
      color: #00caab; }
    .qa-item ul .about-num + span {
      color: #969696; }

.qa-item + .qa-item {
  border-top: 1px solid #DDDDDD; }

.aside {
  margin-top: 30px;
  width: 216px; }
  .aside h2 {
    font-size: 18px;
    line-height: 22px; }
    .aside h2:before {
      margin-right: 12px;
      content: " ";
      display: inline-block;
      width: 4px;
      height: 22px;
      background-color: #00caab;
      vertical-align: middle; }
    .aside h2 span {
      display: inline-block;
      vertical-align: middle; }
  .my-talking-list {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    margin-top: 13px;
    border: 1px solid #DDDDDD;
    background-color: #fafafa; }
  .my-talking-item {
    padding-bottom: 26px; }
    .my-talking-item a {
      display: inline-block; }
    .my-talking-item img {
      width: 190px;
      height: 120px; }
    .talking-info {
      float: left; }
      .talking-info h3 {
        height: 30px;
        line-height: 30px;
        font-size: 14px; }
      .talking-info p {
        font-size: 12px;
        line-height: 1em; }
        .talking-info p i {
          margin-left: 10px;
          margin-right: 10px;
          display: inline-block;
          width: 2px;
          height: 12px;
          background-color: #5c5c5c;
          vertical-align: middle; }
    .look-talking {
      float: right; }
      .look-talking p {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #fca825; }
      .look-talking a {
        display: inline-block;
        width: 46px;
        height: 18px;
        line-height: 18px;
        background-color: #fca825;
        color: #FFFFFF;
        text-align: center;
        font-size: 12px; }
  .my-talking-item + .my-talking-item {
    padding-top: 26px;
    border-top: 1px dashed #e6e6e6; }

.main-aside {
  float: left;
  width: 935px;
  margin-bottom: 140px; }

.aside {
  float: right; }

.answer-item {
  position: relative;
  padding: 14px 24px;
  border-bottom: 1px solid #DDDDDD; }

.answer-title {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  color: #777777; }

.answer-time {
  float: right;
  font-size: 12px;
  color: #b3b3b3;
  vertical-align: bottom; }

.add-good {
  float: left;
  width: 52px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #f1f1f1;
  font-size: 12px;
  color: #c2c2c2; }

.add-good-icon {
  margin-right: 4px;
  display: inline-block;
  width: 9px;
  height: 12px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlJREFUeNpiPHToEAMS4AfiJUAcA8QfYYJMSAqYgXgVEPsA8UooH0NRDxC7QdnuUD6KoiQgLmBABSB+MojBAsTWQDydATuYBsS3QIrUgbgOKtiBpKACSqsyovnuPxKbEZvDcYLBqAggwADlZBCiowQ55gAAAABJRU5ErkJggg==") no-repeat; }

.add-good-icon .added-good {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAMCAYAAACwXJejAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGlJREFUeNpiZDi1mgEJ8APxEiCOAeKPMEEmJAXMQLwKiH2AeCWUj6GoB4jdoGx3KB9FURIQFzCgAhA/GcRgAWJrIJ7OgB1MA+JbIEXqQFwHFexAUlABpVUZ0Xz3H4nNiM3hOMFgVAQQYADHeg8AMW9qoQAAAABJRU5ErkJggg==") no-repeat; }

.answer-content {
  margin-left: 12px;
  width: 820px;
  float: left; }

.answer-content-title {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #777777; }

.answer-content-title span {
  color: #00caab; }

.answer-info {
  margin-top: 5px;
  min-height: 60px;
  line-height: 20px; }

.answer-option-wrap {
  margin-bottom: 9px;
  float: right; }

.answer-option-wrap button {
  margin-left: 24px;
  height: 22px;
  line-height: 22px;
  border: none;
  background: none;
  font-size: 12px;
  color: #b3b3b3; }

.answer-option-wrap button i {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  height: 11px; }

.msg-icon {
  width: 12px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJhJREFUeNpiPHToUAMDA0MFELMz4Ac/gbiDBUhUATErA2EAMrCciUjFMMDBBGVsA2J/JIk6IG5B4oPktoIYLFABQSBWQVIgiyTHAJUDqWFgBHr6PwlOYgA56RsJ6j+DrM0H4iK0YBUHYm4k/j1osPaCNMyBYgY0N28GYg0oXxnZSdjAHSC2BOJd2PyAC3wAYm8gnoosCBBgACFFGBiXxqpCAAAAAElFTkSuQmCC") no-repeat; }

.open-msg-icon {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJVJREFUeNpiYTi1toGBgaECiNkZ8IOfQNzBCNTwC8hgZSAO/GAiQTEIcDBBGduA2B9Jog6IW5D4ILmtIAYLVEAQiFWQFMgiyTFA5UBqGEB++E+CkxhATvpGgvrPIGvzgbgILVjFgZgbiX8PGqy9ICdhMwnk5s1ArAHlMyI7CRu4A8SWQLwLmx9wgQ9A7A3EU5EFAQIMACnvGQW9onNlAAAAAElFTkSuQmCC") no-repeat; }

.share-icon {
  width: 13px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAYAAACksgdhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMVJREFUeNpiPHToEAMB0AbErUD8FSbAxEAY+ADxXiAWgQmwYFHECcT2QKwIxMJALArEEkB8FIg9gPg+siZ2IC4B4nIg5sVimBoQHwNiLxYk07dDbcAHQDZOgGlqR9LwB4ivA/FbIBaH2sAMlXsFxNGggJAG4iwg/gvEHVDT9IDYEYi1gPgaVMMvIA4A4icgmwKB+D80lHbgcVo6EB+HBbkVEOcQ0NAHxAuQ4+k5EM/BowFkWBmyAEjTXKjzcIFKqH/hACDAANCSIo+V0MjxAAAAAElFTkSuQmCC") no-repeat; }

.shared-icon {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAYAAACksgdhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMVJREFUeNpiZDi1loEAaAPiViD+ChNgYiAMfIB4LxCLwARYsCjiBGJ7IFYEYmEgFgViCSA+CsQeQHwfWRM7EJcAcTkQ82IxTA2IjwGxFwuS6duhNuADIBsnwDS1I2n4A8TXgfgtEItDbWCGyr0C4mhQQEgDcRYQ/wXiDqhpekDsCMRaQHwNquEXEAcA8ROQTYFA/B8aSjvwOC0diI/DgtwKiHMIaOgD4gXI8fQciOfg0QAyrAxZAKRpLtR5uEAl1L9wABBgAPn8IcAZCpqVAAAAAElFTkSuQmCC") no-repeat; }

.answer-all-list {
  left: 0;
  padding: 28px 9px 0 75px;
  width: 851px; }

.answer-all-item {
  padding: 10px 0;
  border-bottom: 1px dashed #DDDDDD; }

.answer-all-item a {
  float: left; }

.answer-all-item img {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.answer-all-item p {
  margin-left: 20px;
  float: left;
  width: 780px;
  min-width: 22px;
  line-height: 22px; }

.answer-name {
  color: #00caab; }

.answer-detail-option {
  float: right; }

.answer-detail-option button {
  margin-right: 25px;
  border: none;
  background: none;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #c2c2c2; }
