@charset "UTF-8";
.personal-panel {
  padding: 6px 10px;
  border: 2px dashed #f8f8f8;
  width: 1156px; }
  .personal-panel-aside-big {
    padding-left: 31px;
    padding-top: 36px;
    padding-bottom: 36px;
    float: left;
    width: 912px;
    height: 98px;
    background-color: #f8f8f8; }
    .personal-panel-item {
      float: left;
      font-size: 14px; }
      .personal-panel-item img {
        width: 98px;
        height: 98px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
    .person-panel-info {
      margin-top: 8px;
      margin-bottom: 8px;
      margin-left: 27px;
      width: 319px;
      height: 86px;
      border-right: 1px dashed #e6e6e6; }
      .person-panel-info p {
        line-height: 100%; }
      .personal-panel-title {
        margin-bottom: 28px;
        font-size: 0; }
      .personal-panel-name {
        font-size: 20px;
        line-height: 100%;
        vertical-align: top; }
      .personal-panel-tip {
        margin-left: 9px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        vertical-align: top;
        background-color: #ffde17;
        color: #fff; }
      .personal-panel-student {
        margin-bottom: 9px; }
    .personal-panel-dec {
      padding-left: 41px;
      margin-top: 8px;
      margin-bottom: 8px;
      width: 336px;
      height: 86px; }
      .personal-panel-dec P {
        line-height: 21px;
        height: 84px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical; }
  .personal-panel-aside-small {
    float: right;
    position: relative;
    height: 170px;
    width: 205px;
    background-color: #f8f8f8; }
    .care {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 56px;
      height: 24px;
      background-color: #00caab;
      color: #fff;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
      .care:hover {
        background-color: #3aead0; }
    .edit-self {
      color: #FFFFFF;
      display: inline-block;
      width: inherit;
      height: inherit;
      text-align: center;
      line-height: 24px; }
    .cancel-care {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 96px;
      height: 24px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #00caab;
      color: #fff; }
      .cancel-care:hover {
        background-color: #3aead0; }

.personal-menu-bar {
  margin-top: 19px;
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px; }
  .personal-menu-item {
    position: relative;
    padding-top: 13px;
    top: 1px;
    float: left;
    width: 136px;
    height: 25px;
    text-align: center;
    border-bottom: 2px solid transparent; }
    .personal-menu-item:hover {
      color: #00caab;
      border-bottom-color: #00caab; }
    .personal-menu-item a {
      display: block;
      color: #5c5c5c; }
  .current-menu-item {
    border-bottom-color: #00caab;
    color: #00caab; }
    .current-menu-item:after {
      position: absolute;
      bottom: -1px;
      left: 63px;
      display: block;
      content: " ";
      width: 11px;
      height: 5px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAFCAYAAACTphZWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIJJREFUeNpi+P//PwMy/vPvH3P385slt75/VkWXQ+G8+v1D1O3moZ0Mp1b/5zu74eOqt49DkeUZwTqA4PDnN7aR904uf/rruzQDEsgRU5nSK6dXzMbI9Ivx3///jL0vbhVXPrnc/uf/fxYGLMCCR+jESmWLcEaglWxAvgwDYfAFIMAAVc5fPbo2MSUAAAAASUVORK5CYII=") no-repeat; }

.personal-content {
  margin-top: 26px;
  margin-bottom: 167px; }

.personal-content-care {
  float: left;
  width: 857px; }

.personal-care-tab {
  width: 100%;
  height: 36px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #dddddd; }

.personal-care-tab-item {
  padding-top: 10px;
  float: left;
  cursor: pointer;
  width: 136px;
  height: 25px;
  text-align: center;
  border: 1px solid transparent; }

.current-care-item {
  border-color: #dddddd;
  border-bottom-color: #fff;
  background-color: #fff; }

.personal-dec-list {
  padding-top: 1px; }

.personal-dec-item {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 31px;
  padding-bottom: 31px;
  height: 116px; }
  .personal-dec-item:hover {
    background-color: #f8f8f8;
    border-color: #f8f8f8 !important; }
  .personal-dec-item:hover + .personal-dec-item {
    border-color: #f8f8f8 !important; }

.personal-dec-item + .personal-dec-item {
  border-top: 1px solid #e6e6e6; }

.personal-dec-item-pic {
  margin-right: 17px;
  float: left; }
  .personal-dec-item-pic img {
    width: 172px;
    height: 104px; }

.personal-dec-panel {
  float: left; }

.personal-dec-title {
  color: #5c5c5c;
  line-height: 27px;
  font-size: 20px; }

.personal-dec-info-list {
  margin-top: 15px; }

.personal-dec-info-item {
  margin-top: 6px;
  height: 17px;
  line-height: 17px;
  font-size: 0; }
  .personal-dec-info-item span {
    font-size: 14px;
    vertical-align: middle; }
  .personal-dec-info-item i {
    margin-right: 6px;
    height: 16px;
    width: 16px;
    vertical-align: middle; }
  .personal-dec-info-item .address-pic {
    margin-left: 1px;
    margin-right: 7px;
    width: 14px;
    height: 17px;
    background: url(/static/img/page/personal-index/address.png) no-repeat; }
  .personal-dec-info-item .tip {
    background: url(/static/img/page/personal-index/tip.png) no-repeat; }
  .personal-dec-info-item .time {
    background: url(/static/img/page/personal-index/time.png) no-repeat; }
  .personal-dec-info-item .personal-pic {
    background: url(/static/img/page/personal-index/personal.png) no-repeat; }

.class-info {
  float: right;
  text-align: right; }

.class-info-price {
  padding-top: 43px;
  color: #ffb137; }
  .class-info-price strong {
    margin-bottom: 5px;
    margin-right: 8px;
    font-size: 24px; }

.class-info-add a {
  margin-top: 15px;
  color: #ffffff;
  width: 86px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: #ffb137;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.personal-content-care-aside {
  float: right;
  width: 291px; }

.personal-about-list {
  border: 1px solid #f0f0f0;
  background-color: #fafafa; }
  .personal-about-list li {
    padding-top: 19px;
    float: left;
    width: 96px;
    height: 59px;
    text-align: center; }
  .personal-about-list dt a {
    font-size: 24px;
    color: #00caab;
    line-height: 24px; }
  .personal-about-list dd {
    font-size: 16px; }

.personal-identify-list {
  margin-top: 10px;
  padding-top: 16px;
  padding-left: 11px;
  padding-bottom: 26px;
  padding-right: 11px;
  border: 1px solid #f0f0f0;
  background-color: #fafafa; }
  .personal-identify-list h3 {
    font-size: 0;
    line-height: 18px; }
  .personal-identify-list span {
    height: 18px;
    vertical-align: top;
    font-size: 16px; }
  .v-line {
    margin-right: 7px;
    width: 4px;
    height: 18px;
    background-color: #00caab;
    vertical-align: middle; }

.personal-identify-info-list {
  margin-top: 29px;
  margin-bottom: 28px; }

.personal-identify-info-item + .personal-identify-info-item {
  margin-left: 9px; }

.personal-identify-info-item {
  float: left;
  width: 80px; }
  .personal-identify-info-item dl {
    text-align: center; }
  .personal-identify-info-item dt {
    margin-bottom: 8px;
    font-size: 0; }
  .personal-identify-info-item dd {
    line-height: 1em; }
  .identify-pic {
    height: 34px; }
  .identify-xueli {
    width: 47px;
    background: url(/static/img/page/personal-index/xueli.png) no-repeat; }
  .identify {
    width: 44px;
    background: url(/static/img/page/personal-index/identify.png) no-repeat; }
  .student-identify {
    width: 48px;
    background: url(/static/img/page/personal-index/student-identify.png) no-repeat; }

.skill-list {
  margin-left: -10px;
  padding-left: 2px;
  padding-right: 2px; }

.skill-item {
  margin-top: 15px;
  margin-left: 10px;
  padding-left: 6px;
  padding-right: 6px;
  float: left;
  height: 28px;
  line-height: 28px;
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

i.style-way {
  margin-left: 10px;
  font-style: normal;
  width: 32px;
  height: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  background-color: #00caad;
  vertical-align: middle; }

.personal-dec-info-item .style-way {
  font-size: 12px; }

.personal-menu-bar {
  margin: 19px auto 0 auto;
  height: 40px;
  width: 1178px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 16px; }
  .personal-menu-item {
    position: relative;
    padding-top: 13px;
    top: 1px;
    float: left;
    width: 136px;
    height: 25px;
    text-align: center;
    border-bottom: 2px solid transparent;
    cursor: pointer; }
    .personal-menu-item:hover {
      color: #00caab;
      border-bottom-color: #00caab; }
  .current-menu-item {
    border-bottom-color: #00caab;
    color: #00caab; }
    .current-menu-item:after {
      position: absolute;
      bottom: -1px;
      left: 63px;
      display: block;
      content: " ";
      width: 11px;
      height: 5px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAFCAYAAACTphZWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIJJREFUeNpi+P//PwMy/vPvH3P385slt75/VkWXQ+G8+v1D1O3moZ0Mp1b/5zu74eOqt49DkeUZwTqA4PDnN7aR904uf/rruzQDEsgRU5nSK6dXzMbI9Ivx3///jL0vbhVXPrnc/uf/fxYGLMCCR+jESmWLcEaglWxAvgwDYfAFIMAAVc5fPbo2MSUAAAAASUVORK5CYII=") no-repeat; }

.comment-star {
  font-size: 18px;
  width: 1126px;
  background: #f8f8f8;
  margin: 46px auto 30px auto;
  overflow: hidden;
  padding-left: 54px;
  height: 70px; }
  .comment-star .score {
    width: 100px;
    margin-right: 10px;
    float: left;
    line-height: 70px; }
    .comment-star .score span {
      color: #ffb137;
      font-size: 36px; }
  .comment-star ul {
    float: left;
    margin-top: 26px; }
    .comment-star ul li {
      float: left;
      margin-right: 2px; }

.talking-bar {
  width: 1178px;
  margin: 0 auto;
  background: #f8f8f8;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dddddd; }
  .talking-bar li {
    width: 140px;
    float: left;
    text-align: center;
    cursor: pointer;
    background: #FFFFFF;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: hidden;
    border-left: 1px solid #dddddd; }

.talking-container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 40px 0px 0; }
  .talking-container .talking-list {
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    margin-top: 30px; }
    .talking-container .talking-list i {
      display: block;
      float: left;
      width: 80px;
      height: 80px; }
    .talking-container .talking-list span.personal-name {
      position: relative;
      left: -62px;
      bottom: -76px; }
    .talking-container .talking-list .talking-menu {
      margin-left: 100px;
      position: relative;
      top: -26px; }
      .talking-container .talking-list .talking-menu h1 {
        line-height: 38px;
        font-size: 18px; }
      .talking-container .talking-list .talking-menu p {
        margin-top: 10px;
        line-height: 18px; }
      .talking-container .talking-list .talking-menu div.dd {
        float: right;
        margin-top: 20px; }
      .talking-container .talking-list .talking-menu .data {
        margin-top: 20px;
        float: right; }
        .talking-container .talking-list .talking-menu .data li {
          float: left;
          width: 80px;
          text-align: center; }
          .talking-container .talking-list .talking-menu .data li.dd:after {
            content: '';
            background: #dddddd;
            width: 1px;
            height: 18px;
            display: block;
            position: relative;
            left: 94px;
            top: -16px; }

.line-award, .line, .line-work {
  position: absolute;
  width: 1px;
  background-color: #00caab;
  left: 3px; }

.list-title {
  margin-top: 16px; }

.list-title img {
  vertical-align: middle; }

.list-title img.set-pos {
  position: absolute;
  left: -25px;
  top: 4px;
  width: 18px;
  height: 18px; }

.container {
  width: 1160px;
  margin: 30px auto 290px auto;
  overflow: hidden; }

.container .resume {
  width: 650px;
  float: left;
  background-color: #fafafa;
  padding: 20px 120px 70px 60px;
  margin-right: 30px; }

.container .resume .nav-content .nav-title {
  position: relative;
  font-size: 18px; }

.container .resume .nav-content .nav-title .school-warp {
  overflow: hidden; }

.container .resume .nav-content .nav-title .school-warp .colls {
  margin-top: 16px;
  font-size: 16px; }

.container .resume .nav-content .nav-title .school-warp .colls .show-list {
  overflow: hidden;
  margin-top: 6px; }

.container .resume .nav-content .nav-title .school-warp .colls .show-list li {
  float: left;
  margin-right: 60px;
  font-size: 14px;
  color: #969696; }

.container .resume .nav-content .nav-title .awardz-warp {
  margin-top: 10px;
  position: relative; }

.container .resume .nav-content .nav-title .awardz-warp li {
  font-size: 14px;
  color: #555555;
  line-height: 36px;
  padding-left: 25px;
  background: url("/static/img/page/personal-page/dot.png") no-repeat left center; }

.container .resume .nav-content .nav-title .awardz-warp li span {
  margin-right: 20px; }

.container .resume .nav-content .nav-title .social-exp, .container .resume .nav-content .nav-title .work-exp {
  margin-top: 15px;
  position: relative; }

.container .resume .nav-content .nav-title .social-exp .social-exp-wrap, .container .resume .nav-content .nav-title .work-exp .work-exp-wrap {
  overflow: hidden;
  font-size: 14px; }

.container .resume .nav-content .nav-title .social-exp .social-exp-wrap .social-exp-wrap-list, .container .resume .nav-content .nav-title .work-exp .work-exp-wrap .work-exp-wrap-list {
  margin-bottom: 22px; }

.container .resume .nav-content .nav-title .social-exp .social-exp-wrap .social-exp-wrap-list ul, .container .resume .nav-content .nav-title .work-exp .work-exp-wrap .work-exp-wrap-list ul {
  overflow: hidden;
  background: url("/static/img/page/personal-page/dot.png") no-repeat left center; }

.container .resume .nav-content .nav-title .social-exp .social-exp-wrap .social-exp-wrap-list ul li, .container .resume .nav-content .nav-title .work-exp .work-exp-wrap .work-exp-wrap-list ul li {
  float: left;
  margin-right: 40px;
  line-height: 30px;
  padding-left: 25px; }

.container .resume .nav-content .nav-title .social-exp .social-exp-wrap .social-exp-wrap-list ul li.wid, .container .resume .nav-content .nav-title .work-exp .work-exp-wrap .work-exp-wrap-list ul li.wid {
  width: 122px; }

.container .resume .nav-content .nav-title .social-exp .social-exp-wrap .social-exp-wrap-list p, .container .resume .nav-content .nav-title .work-exp .work-exp-wrap .work-exp-wrap-list p {
  margin-left: 212px;
  color: #969696; }

.container #navi {
  width: 294px;
  background-color: #fafafa;
  float: right; }

.container #navi li {
  position: relative;
  line-height: 54px;
  font-size: 14px;
  text-align: center; }

.container #navi li a {
  color: #5c5c5c; }

.container #navi li:hover {
  background-color: #f0f0f0;
  cursor: pointer; }
  .container #navi li:hover a {
    color: #00caab; }

.container #navi li img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: relative;
  top: 4px; }

.experience {
  width: 770px;
  position: relative; }

.experience .line {
  position: absolute;
  width: 1px;
  background-color: #00caab;
  left: 25px; }

.experience .list-info {
  width: 650px;
  margin-top: 18px; }

.experience .list-info .item-list .detail-info {
  margin-top: 0;
  overflow: hidden;
  font-size: 14px;
  background: url("/static/img/page/personal-page/dot.png") no-repeat left center; }

.experience .list-info .item-list .detail-info .time-data {
  float: left;
  margin-right: 26px;
  position: relative; }

.experience .list-info .item-list .detail-info .time-data span {
  width: 60px; }

.experience .list-info .item-list .detail-info .company {
  float: left;
  margin-right: 40px; }

.experience .list-info .item-list .detail-info .order {
  float: left; }

.experience .list-info .item-list p {
  margin-left: 160px;
  text-indent: 0;
  margin-top: 10px;
  margin-bottom: 20px; }

.experience .last-para {
  margin-left: 160px;
  text-indent: 0;
  margin-top: 10px;
  margin-bottom: 20px; }

/* 评价开始 */
.talking-container {
  border-bottom: 1px solid #ddd;
  min-height: 118px; }

.selfImg-list {
  float: left;
  padding: 2px 33px 0 22px; }
  .selfImg-list .show-name {
    margin-top: 9px;
    font-size: 12px; }

.talking-show {
  margin-left: 133px;
  margin-top: 24px;
  min-height: 131px;
  position: relative; }
  .talking-show h1 {
    font-size: 16px;
    margin-bottom: 10px; }
  .talking-show .talking-comment-content {
    font-size: 14px; }
  .talking-show .comment-time {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 0px; }

/* 评价结束 */
